.buttonC {
    border: none;
    width: 200px;
    margin: 10px auto;
    padding: 10px 30px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    background-color: crimson;
    background: linear-gradient( to right, var(crimson) 0%, var(crimson) 5px, transparent 5px);
    background-repeat: repeat-x;
    background-size: 100%;
    padding-left: 10px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
}

a:hover {
    background: linear-gradient( to right, var(crimson) 0%, var(crimson) 5px, transparent);
}

.card_div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 230px;
    height: 200px;
    margin-left: 15px;
    margin: 10px;
}

.card_image {
    opacity: 1;
    display: block;
    width: 125px;
    height: 125px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}


/* Float four columns side by side */

.column {
    float: left;
    padding-left: 50px;
    padding-right: 20px;
    width: 410px;
    margin: 15px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 15px;
}

.div {
    float: left;
    height: 350px;
}